*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;;
}

.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    z-index: 1;
}

.bg-cover{
    height: 240px;
    background-size: cover
}

.bg-cover img{
    width: 100%;
    height: 100%;
}

.button{
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
    color: #242b2c;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover:not(.button--blue){
    color: #03c3e9;
}

.button--blue{
    background-color: #03c3e9;
    color: #fff;
    border: none;
}

.button--blue:hover{
    background-color: #07a4c3;
}

.nav_buttons .button{
    min-width: 150px;
}

.container{
    max-width: 1272px;
    margin: 0 auto;
}

/* grid section */

.grid{
    display: flex;
}

.grid_block_img--avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #dbdbdb;
}

.img_avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.grid_icon svg{
    width: 20px;
    height: 20px;
}

.grid_block_author,.grid_block_level{
    width: 300px;
}

.grid_block_content{
    width: 576px;
}

.grid_block_content .grid_block_img img{
    width: 100%;
    height: 145px;
}

.grid_title{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #242b2c;
}

.grid_buttons{
    display: flex;
}

.grid_button{
    display: flex;
    align-items: center;
    gap: 5px;
}

.grid_button--follow{
    font-size: 13px;
    margin-right: 5px;
    padding: 0 10px;
}

.grid_button--follow svg{
    width: 16px;
    height: 16px;
}

.grid_button--follow .button-text{
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
}

.grid_block_author{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    top: -80px;
}

.grid_subscribers-info{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    border: 1px solid #ececec;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

.grid_text-bold{
    font-weight: bold;
    font-size: 16px;
}

.grid_text{
    font-size: 14px;
    color: #8c8c8c;
}

.grid_block-info{
    width: 50%;
}

.grid_block-info--sub{
    position: relative;
}

.grid_block-info--sub::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #c0bebe;
}

.grid_description{
    font-size: 14px;
    line-height: 22px;
    color: #242b2c;
}

.grid_button--full{
    width: 100%;
}

.grid_button--full .button{
    width: 50%;
    justify-content: center;
}

.grid_block_content{
    padding: 0 50px;
}